#mainimage{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}






#trait{
    width: 40%;
    margin-left: 10%;
    text-decoration-color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    height: 3px;
    text-align: center;
}



.blackboxfooter{
    background-color: black;
    width: 100%;
    color: white;
    margin-bottom: 0px;
}



.bit-widget-container{
     width: 43%;
    margin-right: 10%;
    border: solid 4px black;
    height: 400px;
    float: right;
}

.bit-widget{
    width: 100% !important;
}



#spotifyplayer{
   margin-left:480px;
   
}
#spotifyplayerhome{
   
    margin-left: 10%;
}




.contactmanagement{
    margin: o auto;
    text-align: center;
}



#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font-family: $paragraph-font;
    font-size:14px;   
      width: 50%;
    margin-bottom: 50px;
    color: black;
}



#aboutmeimg{
    width: 35%;
    float: right;
    margin-top: 60px;
    margin-right: 10%;
}


#aboutmetext{
    font-size: 20px;
}


#aboutme{
margin-top: 160px;
    clear: none;
    margin-bottom: 20px;
}

#signuptext{
     margin-bottom: 20px;
    font-size: 60px;
    margin-bottom: 6px;
    margin-top: 60px;
    text-align: center;
}







.biobutton {
    
    button {
         margin-left: 25%;
       font-family: $main-font;
    font-size: 15px;
   color: white;
    background-color: black;
        margin-bottom: 20px;

    }
 
}



.biography{
    display: none;
p {
    
        font-size: 12px;
        font-family: $paragraph-font;
    }
    
    
}


