

.lyrics{
   margin-left: 800px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    a{
        color: white;
        font-family: $paragraph-font;
    }
}


#soundcloudplayer{
    margin-top: 20px;
    margin-left: 300px;
}